@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 16px;
    margin: 0;
}

h1, h2, h3, h4{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 14px;
}

img{
    max-width: 100%;
}

.container{
    width: 1200px;
    max-width: 100%;
    padding: 30px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.align-start{
    align-items: flex-start;
}

.flex > div,
.flex > ul{
    flex: 1;
}

.flex > div:first-child{
    margin-right: 20px;
}

.flex > div:last-child{
    margin-left: 20px;
}

    /*Navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

nav ul{
    display: flex;
    padding: 0;
    list-style-type: none;
}

nav ul li{
    margin-left: 40px;
}

nav ul li a{
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    text-decoration: none;
}

    /*Form SEction*/

form{
    display: flex;
}

input{
    flex: 0.7;
    padding: 15px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

input::placeholder{
    color: hsl(0, 0%, 75%);
}

button{
    flex: 0.3;
    margin-left: 10px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    border: none;
    background-color: hsl(224, 93%, 58%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

        /*Second Section*/

.light-blueish{
     background-color: hsl(240, 75%, 98%);
     margin-top: 200px;
     position: relative;
     padding: 50px 0;
}

.light-blueish::before{
    content: '';
    background-image: url(images/bg-curve-desktop.svg);
    background-size: cover;
    position: absolute;
    top: -100px;
    left: 0;
    height: 100px;
    width: 100%;
}

.small-text{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    position: relative; 
    transition: ease-in-out 300ms;
}

.small-text:hover{
    opacity: 0.4;
    transition: ease-in-out 300ms;
}

.small-text::before{
    content: '';
    border-bottom: 2px solid hsl(170, 45%, 43%);
    position: absolute;
    height: 1px;
    width: 166px;
    bottom: -5px;
}

.small-text img{
    position: absolute;
    top: 5px;
    margin-left: 5px;
}

            /*Testimonial box*/

.testimonial-box{
    margin-top: 40px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
}

.testimonial-box p{
    letter-spacing: 1px;
    color:  hsl(243, 87%, 12%);
    font-size: 14px;
    line-height: 1.9;
}

.user-info{
    display: flex;
}

.user-info img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-info h4{
    margin: 0;
    margin-top: 4px;
}

    /*Third Section*/

.blueish{
    background-color:  hsl(238, 22%, 44%);
    color: white;
    padding: 50px 0;
}

.blueish p{
    color: white;
    line-height: 1.7;  
}

.blueish form{
    flex-direction: column;
    
}

.blueish form input{
    flex: 1;
    opacity: 1;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
}

.blueish form button{
    margin: 20px 0;
    width: 50%;
}

            /*Footer section*/

footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 40px 0;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    margin-bottom: 10px;
}

.footer-text{
    padding: 0;
}

footer .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 300ms;
}

.circle:hover{
    color: hsl(224, 93%, 58%);
    border-color: hsl(224, 93%, 58%);
    transition: ease-in-out 300ms;
}

.footer-logo{
    margin-bottom: 30px;
}

footer p{
    color: white;
    text-align: right;
}

.name{
    text-decoration: none;
    color: hsl(224, 93%, 58%);
}

@media screen and (max-width: 768px) {

    /* body {
        text-align: center;
    } */

    nav {
        margin: 30px 0 100px 0;
    }

    nav ul li{
        margin-left: 20px;
        font-weight: 700;
    }   

    .logo{
        max-width: 30%;
    }
        
    /*Form section*/   
    form{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    button{
     margin-left: 0;
     margin-top: 20px;
    }
        /*END Form section*/

    .flex{
        flex-direction: column;
    }
    
            /*Header*/
    .reverse-section{
        flex-direction: column-reverse;
    }

    .content{
        margin-top: 80px;
        text-align: center;
    }

    .content .left{
        text-align: left;
    }
            /*END Header*/
    .flex > div{
        width: 100%;
    }

    .flex img{
        margin-top: 0;
    }

    .flex > div:first-child{
        margin-right: 0;
    }
    
    .flex > div:last-child{
        margin-left: 0;
    }

    .light-blueish::before{
        content: '';
        background-image: url(images/bg-curve-mobile.svg);
        height: 100px;
        background-position: center center;
    }

    .testimonial-box{
        text-align: left;
        margin-top: 30px;
        width: 100%;
    }

    .testimonial-box .quotes{
        width: 4%;
    }

    .blueish form input{
        flex: 1;     
    }

    .blueish form button{
        margin: 20px 0;
        width: 100%;
    }

    footer ul{
        padding: 0;
        width: 100%;
    }

   ul, .footer-text{
        display: flex;
        flex-direction: column;
    }
    }

    footer p{
        text-align: center;
    }

}